mixin book(title, author, year, feedback, affiliate="", current=false)

  if current 
    -var text="Wir gerade gelesen..."
  else 
    -var text=feedback
  
  details(open=current)
    summary
      strong=title 
      br 
      small
        i  von #{author}
    p.comment "#{text}" 

      br
      br
      i.year=year
      br
      br
      if affiliate
        a(href=affiliate class="affiliate" rel="noopener noreferrer" data-tooltip="Affiliate Link" target="_blank") Das Buch "#{title}" bei Amazon* ansehen.